@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --myred: #9b111a;
    --mydarkred: #740c13;
    --brown: #A89C94FF;
    --darkbrown: rgb(92, 86, 82);
    --lesserbrown: rgb(194, 187, 183);
}

*{
    background-color: #F9FAFB;
}